.card {
    display: inline-block;
    transition: transform .2s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 8px;
    cursor:pointer;
    min-width:200px;
    height:300px;
    z-index:0;
    border: 2px solid #000000;
}

.card:hover {
    transform: scale(1.2);
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-img {
    height: 300px;
}

.card-info {
    position: absolute;
    bottom: 0px;
    height: 280px;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0;
    transition: opacity .2s;
    text-shadow: 3px 3px 3px #000000, 0 0 3px  #000000;
}

.card-info:hover {
    opacity: 1;
}

.card-title {
    font-size: 1.2rem;
}

.card-details {
    font-size: 1rem;
}

.card-rating {
    float: right;
}

.card-overview {
    font-size: 0.8rem;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card__title {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.card__runtime {
    font-size: .75rem;
    margin-bottom: 0.25rem;
}

.card__rating {
    float: right;
}

.card__description {
    font-style: italic;
    font-size: .75rem;
    margin-bottom: 0.25rem;
}